.vagas-container {
  display: flex;
  flex-direction: column;
  padding: 0 20%;
}

.vagas-container__title {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 2rem 0;
}

.vagas-container__vaga {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;

  border: 1px solid var(--cinza-claro);
  border-radius: 16px;

  padding: 1.5rem 1.5rem 1.75rem 1.5rem;
  margin-bottom: 2rem;
}

.vagas-container__vaga__title {
  font-size: 1.12rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.vagas-container__vaga__description {
  display: flex;
  padding: 0.5rem 0;
  gap: 2rem;

  font-size: 1rem;
  color: var(--cinza);
}
